.main{
	background: #2d5358;
	text-transform: uppercase;
	padding: 0 48px;
	overflow: hidden;
}
.logo a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 15pt;
	line-height: 5em;
	float: left;
}
img{
	display: none;
}
.menu{
	float: right;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	float: left;
}
li a{
	display: block;
	margin: 0;
	padding: 0px 15px;
	text-decoration: none;
	color: white;
	font-size: 10.5pt;
	line-height: 7.5em;
}
li a:hover { 
    color: #bde0e6;
}