.main{
	background: #2d5358;
	text-transform: uppercase;
	padding: 0 0;
}
.main-top{
	display: flex;
	padding: 0 15px;
}
.logo a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 20pt;
	line-height: 2em;
}
.menu-button {
	padding:0;
	margin: auto 0 auto auto;
}
img{
	display: block;
	width: 42px;
	height: 32px;
	border: 1px solid white;
	margin: auto;
}
.menu{
	padding: 0 0 0 15px;
	border-top: 1px solid white;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 13.5pt;
	line-height: 3em;
}
li a:hover { 
    color: #bde0e6;
}